.view-Auth {
    .content {
        min-height: 633px;
        margin: 20px 64px 30px 64px;
        background: #fff; // padding: 0 64px;
        .company-list{
            position: absolute;
            top: 30px;
            left: 170px;
            background-color: #fff;
            box-shadow: 0 0 6px #999;
            border-radius: 4px;
            z-index: 6;
            li{
                height: 32px;
                line-height: 32px;
                padding:0 15px;
                cursor: pointer;
            }
            li:first-child{
                padding-top:6px;
            }
            li:last-child{
                padding-bottom:6px;
            }
        }
        .approve {
            position: relative;
            padding: 0 49px;
            background-color: #e8f6ff;
            .icon {
                background-image: url(../img/approve.png);
                background-position: -106px 0;
                position: absolute;
                top: 20px;
                width: 81px;
                height: 81px;
            }
            .news {
                position: relative;
                margin-left: 134px;
                overflow: hidden;
                h2 {
                    height: 69px;
                    color: #fd9526;
                    font-size: 24px;
                    line-height: 75px;
                }
                .link {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: inline-block;
                    margin-top: 24px;
                    padding: 0 5px;
                    height: 30px;
                    line-height: 30px;
                    vertical-align: middle;
                    color: #25a6f7;
                    font-size: 13px;
                }
                p {
                    margin-bottom: 10px;
                    color: #999;
                    font-size: 15px;
                    line-height: 1.5;
                }
                i {
                    display: block;
                    margin-bottom: 20px;
                    color: #25a6f7;
                    font-size: 13px;
                    font-style: normal;
                }
            }
        }
        .form-msg {
            position: relative;
            padding: 0 36px;
            margin-top: 10px;
            button {
                &:disabled {
                    background-color: rgba(35, 134, 238, 0.50);
                    cursor: not-allowed;
                    color: #fff;
                }
            }
            .field {
                padding-bottom: 31px;
                border: 0;
                legend {
                    padding: 26px 0 8px 0;
                    height: 26px;
                    color: #444;
                    font-size: 15px;
                    line-height: 26px;
                    i {
                        display: inline-block;
                        margin-right: 16px;
                        width: 26px;
                        height: 26px;
                        color: #fff;
                        font-size: 16px;
                        text-align: center;
                        font-style: normal;
                        background-color: #25a6f7;
                        border-radius: 50%;
                    }
                }
                .msgs {
                    display: none;
                    &.on {
                        display: block;
                    }
                }
                .warning {
                    background: #FFC107;
                }
                .cell {
                    position: relative;
                    margin-top: 20px; // font-size: 0;
                    //��ѡ������Ƭ������ʾ�鿴ͼƬ�İ�ť��
                    &.spe {
                        .text {
                            width: 42%;
                        }
                    }
                    &.has {
                        .show-photo {
                            display: inline-block !important;
                        }
                    }
                    &.phone {
                        .text {
                            padding-left: 46px;
                            width: 65%;
                            max-width: 500px;
                        }
                        .num {
                            position: absolute;
                            color: #A2A7AD;
                            border-right: solid #c9ccc6 1px;
                            margin-top: 6px;
                            padding: 0 6px;
                        }
                    }
                    &.code {
                        .text {
                            width: 252px;
                            margin-left: 170px;
                        }
                        button {
                            margin: 0 8px;
                            width: 106px;
                        }
                        a {
                            font-size: 13px;
                        }
                    }
                    label {
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 50px;
                        width: 116px; // height: 34px;
                        color: #444;
                        font-size: 14px; // line-height: 34px;
                        .second {
                            display: block;
                        }
                    }
                    .icon {
                        width: 160px;
                        height: 30px;
                        display: inline-block;
                        text-align: center;
                        line-height: 30px;
                        border-radius: 4px;
                        border: 1px solid;
                        margin-left: 16px;
                    }
                    p {
                        display: inline-block;
                        vertical-align: top;
                        color: #444;
                        line-height: 24px;
                    }
                    .text {
                        // border-color: #e0e0e0;
                        vertical-align: middle; // cursor: pointer;
                        width: 65%;
                        box-sizing: border-box;
                        max-width: 500px;
                        &.no-label {
                            margin-left: 170px;
                        }
                    }
                    .type {
                        display: inline-block;
                        vertical-align: middle;
                        &.warning {
                            background: #FFEB3B;
                        }
                        li {
                            display: inline-block;
                            font-size: 14px;
                            margin-right: 38px;
                            &.on {
                                .radio {
                                    position: relative;
                                    i {
                                        border: 1px solid #47C1F8;
                                    }
                                    &:after {
                                        background-color: #47C1F8;
                                        border-radius: 100%;
                                        content: "";
                                        display: inline-block;
                                        height: 10px;
                                        margin: 2px;
                                        width: 10px;
                                        position: absolute;
                                        bottom: 2px;
                                        left: 1px;
                                    }
                                }
                            }
                        }
                    }
                    .image {
                        padding: 24px 162px;
                        position: relative;
                        .show-photo {
                            display: none;
                        }
                        .file {
                            opacity: 0;
                            position: absolute;
                            width: 86px;
                        }
                        &.type0 {
                            .file {
                                top: 98px;
                            }
                        }
                        &.type2 {
                            .file {
                                top: 26px;
                            }
                        }
                        .choose {
                            display: inline-block;
                            width: 30px;
                            margin-right: 15px;
                            width: 96px;
                            height: 28px;
                            color: #fd9526;
                            background-color: #f7f7f7;
                            border: 1px solid #fd9526;
                            line-height: 28px;
                            text-align: center;
                            cursor: pointer;
                        }
                        .example {
                            display: inline-block;
                            vertical-align: middle;
                            width: 129px;
                            margin-top: 10px;
                            font-size: 14px;
                            color: #444;
                            position: relative;
                            .ex-img {
                                display: none;
                                &.on {
                                    display: block;
                                }
                            }
                            i {
                                background-image: url('../img/approve.png');
                                position: relative;
                                display: inline-block;
                                width: 104px;
                                height: 140px;
                                margin-top: 8px;
                                background-position: 0 0;
                                cursor: pointer;
                                &:after {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    width: 36px;
                                    height: 36px;
                                    top: 50%;
                                    left: 50%;
                                    margin-top: -18px;
                                    margin-left: -18px;
                                    right: 2px;
                                    border-radius: 30px;
                                    background-position: -130px -172px;
                                    background-color: rgba(0, 0, 0, 0.5);
                                    background-image: url(../img/approve.png);
                                }
                            }
                        }
                    }
                    .drop-btn-spe {
                        cursor: pointer;
                        width: 65%;
                        max-width: 500px;
                        &.long {
                            .text {
                                width: 100%;
                                box-sizing: border-box;
                            }
                        }
                        &.short {
                            width: 120px;
                            
                            .text {
                                width: 100%;
                                box-sizing: border-box;
                            }
                            &:after {
                                right: 13px !important;
                            }
                        }
                        &.DropList {
                            .text {
                                border-radius: 0;
                                border-color: #e0e0e0;
                                height: 32px;
                                vertical-align: middle;
                                padding: 0 16px 0 10px;
                                &::after {
                                    border-top-color: #A2A7AD;
                                }
                                &:hover {
                                    border: #ccc 1px solid;
                                }
                            }
                            input[readonly] {
                                cursor: default;
                            }
                        }
                        ul {
                            width: 100%;
                            max-height: 258px;
                        }
                    }
                }
            }
            .form-btn {
                text-align: center;
                padding-bottom: 10px;
                .normal {
                    padding: 0 18px;
                }
            }
        }
    }
}