.bak-confirm .content {
    margin: 20px 24px 0 24px;
    text-align: justify;
    word-break: break-all;
    overflow-wrap: break-word;
}
.bak-confirm .cont-div {
    margin-top: 24px;
}
.bak-confirm .cont-div .cont-div-msg {
    color: #7F848B;
}
.bak-confirm .cont-div .cont-div-btn {
    margin: 16px 0 0 16px;
}
.bak-confirm .cont-div .cont-div-btn button {
    margin-right: 10px;
    margin-bottom: 4px;
}
.bak-confirm .cont-div .cont-div-btn button.on {
    color: #fff;
    background-color: #47C1F8;
}
.bak-confirm .cont-div .cont-div-btn button.long {
    width: 184px;
}
.bak-confirm .cont-div .cont-div-btn button.short {
    width: 120px;
}

.baks-delete .content {
    margin: 20px 24px 0 24px;
    text-align: justify;
    word-break: break-all;
    overflow-wrap: break-word;
}
.baks-delete .content .cont-input {
    margin-top: 24px;
}
.baks-delete .content .cont-input > span {
    display: inline-block;
    width: 68px;
    margin-right: 0;
}
.baks-delete .content .first {
    width: 240px;
}
.baks-delete .content .second {
    width: 146px;
}
.baks-delete .content .send {
    border-top: 1px solid #EAEFF3;
    border-right: 1px solid #EAEFF3;
    border-bottom: 1px solid #EAEFF3;
    width: 96px;
    height: 30px;
    position: absolute;
    line-height: 30px;
    margin-left: 156px;
    cursor: pointer;
    text-align: center;
}
.baks-delete .content .send.disabled {
    cursor: not-allowed;
    background-color: #eee;
}

.view-AccountBaks .nav-right button {
    margin-left: 10px;
}
.view-AccountBaks .main {
    height: calc(100% - 90px);
}
.view-AccountBaks .main .change-tab > li {
    display: inline-block;
    height: 40px;
    line-height: 37px;
    font-size: 15px;
    margin: 0 14px 10px 0;
    cursor: pointer;
}
.view-AccountBaks .main .change-tab > li.on {
    border-bottom: 3px solid #47C1F8;
    color: #47C1F8;
}
.view-AccountBaks .main > p {
    margin-left: 64px;
    margin-top: 16px;
    color: #fff;
    font-size: 15px;
    background-color: #ff8503;
    width: 600px;
    padding: 3px 12px;
}
.view-AccountBaks .main .panel-main {
    height: calc(100% - 64px);
    position: relative;
}
.view-AccountBaks .main .panel-main .progress {
    position: absolute;
    top: -52px;
    right: 160px;
    font-size: 13px;
    text-align: center;
}
.view-AccountBaks .main .panel-main .progress .bar {
    position: relative;
    height: 10px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 6px;
}
.view-AccountBaks .main .panel-main .progress .bar i {
    position: absolute;
    left: 0;
    border-radius: 6px;
    width: 0;
    display: inline-block;
    background-color: #47C1F8;
    height: 10px;
}
.view-AccountBaks .main .panel-main .tips {
    position: absolute;
    top: -44px;
    right: -6px;
    font-size: 13px;
    color: #ff8503;
}
.view-AccountBaks .main .panel-main .all-delete {
    position: absolute;
    top: -50px;
    right: 6px;
}
.view-AccountBaks .main .panel-main .all-delete[disabled] {
    background: #dedede;
    cursor: not-allowed;
}
.view-AccountBaks .list.table-common {
    height: calc(100% - 128px);
}
.view-AccountBaks .list .table-tbody {
    height: calc(100% - 96px);
}
.view-AccountBaks .list .table-tbody.checked button.small {
    background-color: #eee;
    cursor: not-allowed;
    border: 1px solid #cacaca;
    color: #afafaf;
}
.view-AccountBaks .list .product-table tr td {
    width: 10%;
    position: relative;
    word-break: break-all;
}
.view-AccountBaks .list .product-table tr td.hide {
    display: none;
}
.view-AccountBaks .list .product-table tr td.long {
    width: 21%;
}
.view-AccountBaks .list .product-table tr td i {
    cursor: pointer;
    margin-left: 8px;
    font-size: 1.7em;
    color: #cecece;
    position: absolute;
}
.view-AccountBaks .list .product-table tr td i:hover {
    color: #47C1F8;
}
.view-AccountBaks .pager {
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}
.view-AccountBaks .pager .el-pagination {
    display: inline-block;
}
.view-AccountBaks .pager .el-pagination-jump {
    position: relative;
    top: 18px;
}
.view-AccountBaks .pager .total-num {
    position: relative;
    top: 13px;
}
