.application-add {
    /**没有二级列表时，隐藏。*/
}
.application-add .tips {
    display: none;
    text-align: center;
    position: absolute;
    top: 51px;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    font-size: 14px;
    color: #aaa;
}
.application-add .tips .no-data-img {
    margin: 180px auto auto auto;
}
.application-add .tips .tip-content {
    margin-top: 10px;
}
.application-add .tips.show {
    display: block;
}
.application-add article {
    height: calc(100% - 85px);
}
.application-add .content {
    height: 100%;
    margin-left: 0;
}
.application-add .content .pager {
    text-align: right;
    margin: 0px 20px 10px 0;
}
.application-add .table-common {
    height: calc(100% - 70px);
}
.application-add .add-table {
    margin: 0;
}
.application-add .add-table td {
    overflow: hidden;
    width: 30%;
    text-overflow: ellipsis;
}
.application-add .add-table td:first-child {
    width: 10%;
    overflow: visible;
}
.application-add .add-table .table-thead tr {
    height: 32px;
}
.application-add .add-table .table-tbody {
    height: calc(100% - 28px);
}
.application-add .add-table .table-tbody tr {
    height: 52px;
}
.application-add .add-table .table-tbody tr td:last-child {
    text-align: left;
}
.application-add .add-table .table-tbody tr .Global-tip .tip {
    bottom: -18px;
    height: 24px;
    line-height: 24px;
}
.application-add .add-table .table-tbody tr.checked .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
}
.application-add .add-table .table-tbody tr.has-chosed .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
    background-color: #ddd;
    cursor: not-allowed;
}
.application-add .add-table .table-tbody tr span.keyword {
    color: red;
    margin: 0px;
    background: #f9e8e8;
}

.pro-bind .content {
    margin: 20px 0 1px 24px;
}
.pro-bind .content .spe {
    color: red;
    font-size: 15px;
}
.pro-bind .cont-div {
    margin-top: 24px;
}
.pro-bind .cont-div .cont-div-msg {
    color: #7F848B;
}
.pro-bind .cont-div .cont-div-btn {
    margin: 16px 0 0 16px;
}
.pro-bind .cont-div .cont-div-btn button {
    margin-right: 10px;
    margin-bottom: 4px;
}
.pro-bind .cont-div .cont-div-btn button.on {
    color: #fff;
    background-color: #47C1F8;
}
.pro-bind .cont-div .cont-div-btn button.long {
    width: 184px;
}
.pro-bind .cont-div .cont-div-btn button.short {
    width: 120px;
}

.application-bind {
    /**没有二级列表时，隐藏。*/
}
.application-bind .tips {
    display: none;
    text-align: center;
    position: absolute;
    top: 51px;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    font-size: 14px;
    color: #aaa;
}
.application-bind .tips .no-data-img {
    margin: 180px auto auto auto;
}
.application-bind .tips .tip-content {
    margin-top: 10px;
}
.application-bind .tips.show {
    display: block;
}
.application-bind article {
    height: calc(100% - 85px);
}
.application-bind .content {
    height: 100%;
    margin-left: 0;
}
.application-bind .content .pager {
    text-align: right;
    margin: 0px 20px 10px 0;
}
.application-bind .table-common {
    height: calc(100% - 70px);
}
.application-bind .bind-table {
    margin: 0;
}
.application-bind .bind-table td {
    overflow: hidden;
    width: 30%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.application-bind .bind-table td .radio.on ::after {
    left: 50%;
    margin-left: -5px;
}
.application-bind .bind-table td .radio.gray i {
    background-color: #d1d1d1;
    cursor: not-allowed;
}
.application-bind .bind-table td:first-child {
    width: 10%;
    overflow: visible;
}
.application-bind .bind-table .table-thead tr {
    height: 32px;
}
.application-bind .bind-table .table-tbody {
    height: calc(100% - 28px);
}
.application-bind .bind-table .table-tbody tr {
    height: 52px;
}
.application-bind .bind-table .table-tbody tr .Global-tip .tip {
    bottom: -18px;
    height: 24px;
    line-height: 24px;
}
.application-bind .bind-table .table-tbody tr.checked .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
}
.application-bind .bind-table .table-tbody tr.has-chosed .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
    background-color: #ddd;
    cursor: not-allowed;
}
.application-bind .bind-table .table-tbody tr span.keyword {
    color: red;
    margin: 0px;
    background: #f9e8e8;
}

.application-chose {
    /**没有二级列表时，隐藏。*/
}
.application-chose .tips {
    display: none;
    text-align: center;
    position: absolute;
    top: 51px;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    font-size: 14px;
    color: #aaa;
}
.application-chose .tips .no-data-img {
    margin: 180px auto auto auto;
}
.application-chose .tips .tip-content {
    margin-top: 10px;
}
.application-chose .tips.show {
    display: block;
}
.application-chose article {
    height: calc(100% - 85px);
}
.application-chose .content {
    height: 100%;
    margin-left: 0;
}
.application-chose .content .pager {
    text-align: right;
    margin: 0px 20px 10px 0;
}
.application-chose .table-common {
    height: calc(100% - 70px);
}
.application-chose .chose-table {
    margin: 0;
}
.application-chose .chose-table td {
    overflow: hidden;
    width: 30%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.application-chose .chose-table td .radio.on ::after {
    left: 50%;
    margin-left: -5px;
}
.application-chose .chose-table td .radio.gray i {
    background-color: #d1d1d1;
    cursor: not-allowed;
}
.application-chose .chose-table td:first-child {
    width: 10%;
    overflow: visible;
}
.application-chose .chose-table .table-thead tr {
    height: 32px;
}
.application-chose .chose-table .table-tbody {
    height: calc(100% - 28px);
}
.application-chose .chose-table .table-tbody tr {
    height: 52px;
}
.application-chose .chose-table .table-tbody tr .Global-tip .tip {
    bottom: -18px;
    height: 24px;
    line-height: 24px;
}
.application-chose .chose-table .table-tbody tr.checked .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
}
.application-chose .chose-table .table-tbody tr.has-chosed .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
    background-color: #ddd;
    cursor: not-allowed;
}
.application-chose .chose-table .table-tbody tr span.keyword {
    color: red;
    margin: 0px;
    background: #f9e8e8;
}

.pro-bind .content {
    margin: 20px 0 0 24px;
}
.pro-bind .content .spe {
    color: red;
}
.pro-bind .cont-div {
    margin-top: 24px;
}
.pro-bind .cont-div .cont-div-msg {
    color: #7F848B;
}
.pro-bind .cont-div .cont-div-btn {
    margin: 16px 0 0 16px;
}
.pro-bind .cont-div .cont-div-btn button {
    margin-right: 10px;
    margin-bottom: 4px;
}
.pro-bind .cont-div .cont-div-btn button.on {
    color: #fff;
    background-color: #47C1F8;
}
.pro-bind .cont-div .cont-div-btn button.long {
    width: 184px;
}
.pro-bind .cont-div .cont-div-btn button.short {
    width: 120px;
}

.application-forbidden {
    /**没有二级列表时，隐藏。*/
}
.application-forbidden .mes-tip {
    margin-bottom: 15px;
}
.application-forbidden .tips {
    display: none;
    text-align: center;
    position: absolute;
    top: 51px;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    font-size: 14px;
    color: #aaa;
}
.application-forbidden .tips .no-data-img {
    margin: 180px auto auto auto;
}
.application-forbidden .tips .tip-content {
    margin-top: 10px;
}
.application-forbidden .tips.show {
    display: block;
}
.application-forbidden article {
    height: calc(100% - 85px);
}
.application-forbidden .content {
    height: 100%;
    margin-left: 0;
}
.application-forbidden .table-common {
    height: calc(100% - 70px);
}
.application-forbidden .forbidden-table {
    margin: 0;
}
.application-forbidden .forbidden-table td {
    overflow: hidden;
    width: 30%;
    text-overflow: ellipsis;
}
.application-forbidden .forbidden-table td:first-child {
    width: 10%;
    overflow: visible;
}
.application-forbidden .forbidden-table .table-thead tr {
    height: 32px;
}
.application-forbidden .forbidden-table .table-tbody {
    height: calc(100% - 28px);
}
.application-forbidden .forbidden-table .table-tbody tr {
    height: 52px;
}
.application-forbidden .forbidden-table .table-tbody tr td:last-child {
    text-align: left;
}
.application-forbidden .forbidden-table .table-tbody tr .Global-tip .tip {
    bottom: -18px;
    height: 24px;
    line-height: 24px;
}
.application-forbidden .forbidden-table .table-tbody tr.checked .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
}
.application-forbidden .forbidden-table .table-tbody tr.has-chosed .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
    background-color: #ddd;
    cursor: not-allowed;
}
.application-forbidden .forbidden-table .table-tbody tr span.keyword {
    color: red;
    margin: 0px;
    background: #f9e8e8;
}

.application-manage {
    /**没有二级列表时，隐藏。*/
}
.application-manage .header {
    margin-top: 16px;
    line-height: 32px;
}
.application-manage .search {
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
    position: relative;
    margin-right: 36px;
}
.application-manage .search .icon {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 32px;
    width: 32px;
    background: url('../../style/img/search.png') no-repeat center;
    vertical-align: top;
    margin-left: -38px;
    cursor: pointer;
}
.application-manage .search-input {
    display: inline-block;
    width: 260px;
    border-radius: 6px;
}
.application-manage .tips {
    display: none;
    text-align: center;
    position: absolute;
    top: 108px;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    font-size: 14px;
    color: #aaa;
}
.application-manage .tips .no-data-img {
    margin: 140px auto auto auto;
}
.application-manage .tips .tip-content {
    margin-top: 10px;
}
.application-manage .tips.show {
    display: block;
}
.application-manage article {
    height: calc(100% - 85px);
}
.application-manage .content {
    height: 100%;
    margin-left: 0;
}
.application-manage .content .pager {
    text-align: right;
    margin: 0px 20px 10px 0;
}
.application-manage .table-common {
    height: calc(100% - 106px);
}
.application-manage .manage-table {
    margin: 0;
}
.application-manage .manage-table td {
    overflow: hidden;
    width: 30%;
    text-overflow: ellipsis;
}
.application-manage .manage-table td:first-child {
    width: 10%;
    overflow: visible;
}
.application-manage .manage-table .table-thead tr {
    height: 32px;
}
.application-manage .manage-table .table-tbody {
    height: calc(100% - 28px);
    padding-bottom: 0px;
}
.application-manage .manage-table .table-tbody tr {
    height: 52px;
}
.application-manage .manage-table .table-tbody tr td:last-child {
    text-align: left;
}
.application-manage .manage-table .table-tbody tr .Global-tip .tip {
    bottom: -18px;
    height: 24px;
    line-height: 24px;
}
.application-manage .manage-table .table-tbody tr.checked .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
}
.application-manage .manage-table .table-tbody tr.has-chosed .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
    background-color: #ddd;
    cursor: not-allowed;
}
.application-manage .manage-table .table-tbody tr span.keyword {
    color: red;
    margin: 0px;
    background: #f9e8e8;
}

.application-purchase {
    /**没有二级列表时，隐藏。*/
}
.application-purchase article {
    height: calc(100% - 85px);
}
.application-purchase .content {
    height: 100%;
    margin-left: 0;
}
.application-purchase .content .pager {
    text-align: right;
    margin: 0px 20px 10px 0;
}
.application-purchase .table-common {
    height: calc(100% - 50px);
}
.application-purchase .purchase-table {
    margin: 0;
}
.application-purchase .purchase-table td {
    overflow: hidden;
    width: 30%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.application-purchase .purchase-table td:first-child {
    overflow: visible;
}
.application-purchase .purchase-table .table-thead tr {
    height: 32px;
}
.application-purchase .purchase-table .table-tbody {
    height: calc(100% - 28px);
}
.application-purchase .purchase-table .table-tbody tr {
    height: 52px;
}
.application-purchase .purchase-table .table-tbody tr .Global-tip .tip {
    bottom: -18px;
    height: 24px;
    line-height: 24px;
}
.application-purchase .purchase-table .table-tbody tr.checked .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
}
.application-purchase .purchase-table .table-tbody tr.has-chosed .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
    background-color: #ddd;
    cursor: not-allowed;
}
.application-purchase .purchase-table .table-tbody tr span.keyword {
    color: red;
    margin: 0px;
    background: #f9e8e8;
}

.view-Application .common-nav .nav-right {
    cursor: auto !important;
}
.view-Application .common-nav .nav-right .large {
    line-height: 34px;
}
.view-Application .news {
    position: relative;
}
.view-Application .news.hide {
    display: none;
}
.view-Application .news i {
    background-image: url(../img/laba.png);
    width: 16px;
    height: 16px;
    position: absolute;
    margin: 22px 0 0 70px;
}
.view-Application .news .marquee {
    margin-left: 64px;
    margin-top: 16px;
    color: #fff;
    font-size: 15px;
    background-color: #ff8503;
    width: 600px;
    padding: 3px 0 3px 30px;
    display: inline-block;
}
.view-Application .news .marquee marquee {
    vertical-align: middle;
}
.view-Application .news .marquee marquee span {
    margin-right: 60px;
}
.view-Application .list.table-common {
    height: calc(100% - 128px);
}
.view-Application .list .table-thead .product-table tr {
    height: 65px;
}
.view-Application .list .product-table tr td {
    width: 8%;
    position: relative;
}
.view-Application .list .product-table tr td.hide {
    display: none;
}
.view-Application .list .product-table tr td.editbar p {
    display: none;
}
.view-Application .list .product-table tr td.editbar input {
    display: inline-block;
}
.view-Application .list .product-table tr td.editbar .icon {
    background-image: url('../img/ok.png');
}
.view-Application .list .product-table tr td .manage {
    color: #47C1F8;
    text-decoration: none;
    cursor: pointer;
}
.view-Application .list .product-table tr td p {
    margin-right: 36px;
}
.view-Application .list .product-table tr td input {
    width: 84%;
    box-sizing: border-box;
    display: none;
    margin-right: 32px;
    padding: 6px 10px;
    height: 36px;
    border: 1px solid #e1e1e1;
}
.view-Application .list .product-table tr td input:hover {
    border: 1px solid #59C7F8;
}
.view-Application .list .product-table tr td .icon {
    position: absolute;
    top: 23px;
    right: 0px;
    display: inline-block;
    height: 28px;
    width: 28px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
    cursor: pointer;
    background-image: url('../img/edit.png');
}
.view-Application .list .product-table tr td .drop-span {
    margin: 0;
}
.view-Application .list .product-table tr td.short {
    width: 7%;
}
.view-Application .list .product-table tr td.long {
    width: 14%;
}
.view-Application .list .product-table tr td.button {
    width: 11%;
    /*针对 js 动态控制的*/
}
.view-Application .list .product-table tr td.button .change {
    display: none;
}
.view-Application .list .product-table tr td.button .change.has {
    display: block;
}
.view-Application .list .product-table tr td.button .drop-btn-click {
    vertical-align: middle;
}
.view-Application .list .product-table tr td.button .drop-btn-click ul {
    padding: 5px 0;
}
.view-Application .list .product-table tr td.button .drop-btn-click button {
    margin-left: 0;
    margin-top: 2px;
    width: 84px;
}
.view-Application .list .product-table tr td.button .application-list {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #59C7F8;
    height: 26px;
    border-radius: 4px;
    background-color: #fff;
    color: #59C7F8;
    vertical-align: middle;
    margin-left: 8px;
}
.view-Application .list .product-table tr td.button .gray .free,
.view-Application .list .product-table tr td.button .gray .bind,
.view-Application .list .product-table tr td.button .gray .manage {
    background-color: #d1d1d1;
    cursor: not-allowed;
    height: 100%;
    vertical-align: top;
    margin-top: 0;
}
.view-Application .list .product-table tr td.button .user-manage .manage {
    display: inherit;
}
.view-Application .list .product-table tr td.button .free-test .free {
    display: inherit;
}
.view-Application .list .product-table tr td.button .bind-account .bind {
    display: inherit;
}
.view-Application .list .product-table tr td.button .free,
.view-Application .list .product-table tr td.button .bind,
.view-Application .list .product-table tr td.button .manage {
    display: none;
}
.view-Application .list .product-table tr td.button .no-select .drop-span {
    background-color: #d1d1d1;
    height: 24px;
    vertical-align: top;
    cursor: not-allowed;
}
.view-Application .list .product-table tr td.button .no-select .drop-span:after {
    content: '';
    margin-top: 0px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}
.view-Application .list .product-table tr td.button .no-select .drop-span ul {
    display: none;
}
.view-Application .list .product-table tr td i {
    cursor: pointer;
    margin-left: 8px;
    font-size: 1.7em;
    color: #cecece;
    position: absolute;
}
.view-Application .list .product-table tr td i:hover {
    color: #47C1F8;
}
