/*�Զ������ڼ�Ի���*/
.customize-period.pro-self article {
    position: absolute;
    top: 51px;
    bottom: 74px;
    left: 0;
    right: 0;
}
.customize-period.pro-self article > div {
    height: 100%;
}
.customize-period.pro-self .top {
    line-height: 64px;
    padding: 0 0 0 26px;
}
.customize-period.pro-self .top .more {
    height: 30px;
    width: 100px;
    vertical-align: middle;
}
.customize-period.pro-self .num {
    margin-left: 30px;
    display: inline-block;
    position: relative;
}
.customize-period.pro-self .num.disabled:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
}
.customize-period.pro-self .num.disabled .segment .radio {
    cursor: not-allowed;
}
.customize-period.pro-self .num.disabled .segment .radio i {
    background-color: #ccc;
}
.customize-period.pro-self .num.disabled .check-box {
    background-color: #ccc;
}
.customize-period.pro-self .num .check-box {
    margin-right: 8px;
}
.customize-period.pro-self .num .segment {
    display: inline-block;
    margin-left: 8px;
}
.customize-period.pro-self .num .segment > li {
    display: inline-block;
    margin-right: 16px;
}
.customize-period.pro-self .num .segment > li.on .radio {
    position: relative;
}
.customize-period.pro-self .num .segment > li.on .radio i {
    border: 1px solid #47C1F8;
}
.customize-period.pro-self .num .segment > li.on .radio i::after {
    background-color: #47C1F8;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 10px;
    margin: 2px;
    width: 10px;
    position: absolute;
}
.customize-period.pro-self .num .segment.gray .radio {
    cursor: not-allowed;
}
.customize-period.pro-self .num .segment.gray .radio i {
    background-color: #ccc;
}
.customize-period.pro-self .num > p {
    display: inline-block;
}
.customize-period.pro-self .content {
    padding: 0px 30px;
    height: calc(100% - 56px);
    box-sizing: border-box;
}
.customize-period.pro-self .content .left,
.customize-period.pro-self .content .right {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    border: 1px solid #EAEFF3;
}
.customize-period.pro-self .content .left {
    width: 120px;
    padding: 0;
    text-align: center;
}
.customize-period.pro-self .content .left .name {
    background-color: #F2F5F7;
    border-radius: 2px;
    line-height: 30px;
    text-align: center;
}
.customize-period.pro-self .content .left ul {
    height: calc(100% - 30px);
    overflow-y: auto;
}
.customize-period.pro-self .content .left ul li {
    line-height: 28px;
    padding: 0 16px;
    border-bottom: 1px solid #EAEFF3;
    cursor: pointer;
}
.customize-period.pro-self .content .left ul li:last-child {
    border-bottom: none;
}
.customize-period.pro-self .content .left ul li.on {
    background: #47c1f8;
    color: #fff;
}
.customize-period.pro-self .content .right {
    width: 356px;
    border-right: none;
}
.customize-period.pro-self .content .right.table-common {
    margin: 0 0 0 20px;
    padding: 0;
}
.customize-period.pro-self .content .right.table-common .table-thead {
    margin: 0;
}
.customize-period.pro-self .content .right.table-common .product-table thead {
    border: none;
}
.customize-period.pro-self .content .right.table-common .table-tbody {
    height: calc(100% - 30px);
    position: relative;
}
.customize-period.pro-self .content .right.table-common .table-tbody .product-table tr {
    height: 28px;
}
.customize-period.pro-self .content .right.table-common .product-table tr {
    height: 30px;
}
.customize-period.pro-self .content .right.table-common .product-table tr:last-child {
    border: none;
}
.customize-period.pro-self .content .right.table-common .product-table tr:hover input {
    background-color: #e7f6fd;
}
.customize-period.pro-self .content .right.table-common .product-table tr td {
    padding: 0;
}
.customize-period.pro-self .content .right.table-common .product-table tr input {
    height: 28px;
    width: 100%;
    border: none;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    padding: 0;
}
.customize-period.pro-self footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
