.Dialog {
    font-size: 0;
    z-index: 1024;
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 4px;
    letter-spacing: 0;
    padding-bottom: 32px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
}
.Dialog.auto-size {
    transform: translate(0, -50%);
}
.Dialog.draging header,
.Dialog.draging article {
    /*user-select: none;*/
}
.Dialog header {
    height: 50px;
    border-bottom: 1px solid #EAEFF3;
    line-height: 50px;
    padding-left: 24px;
    box-sizing: border-box;
    font-size: 16px;
}
.Dialog header .title {
    font-size: 16px;
    color: #2A323D;
    margin-left: 24px;
}
.Dialog header > i {
    background: url('../img/close.png') no-repeat center;
    width: 16px;
    height: 16px;
    display: inline-block;
    float: right;
    margin: 16px;
    cursor: pointer;
}
.Dialog header > i:hover {
    background: url('../img/close2.png') no-repeat center;
}
.Dialog > article {
    font-size: 14px;
    line-height: 20px;
}
.Dialog footer {
    text-align: center;
    overflow: hidden;
}
.Dialog footer .foot-right {
    float: right;
    height: 38px;
    margin: 24px 24px 0 0;
}
.Dialog footer button {
    margin-left: 10px;
    font-size: 12px;
}
.Dialog footer .false {
    border: 1px solid #EAEFF3;
    background-color: #fff;
}
