.pro-create-type1 .content strong {
    font-size: 15px;
}
.pro-create-type1 .content .header {
    margin-top: 24px;
}
.pro-create-type1 .content .header ul li {
    display: inline-block;
    height: 40px;
    background-repeat: no-repeat;
    width: 170px;
}
.pro-create-type1 .content .header .first {
    background-image: url('../../style/img/cre1.png');
}
.pro-create-type1 .content .header .first.on {
    background-image: url('../../style/img/cre1-on.png');
}
.pro-create-type1 .content .header .second {
    background-image: url('../../style/img/cre2.png');
}
.pro-create-type1 .content .header .second.on {
    background-image: url('../../style/img/cre2-on.png');
}
.pro-create-type1 .content .header .third {
    background-image: url('../../style/img/cre3.png');
}
.pro-create-type1 .content .header .third.on {
    background-image: url('../../style/img/cre3-on.png');
}
.pro-create-type1 .content .contanin .first,
.pro-create-type1 .content .contanin .second,
.pro-create-type1 .content .contanin .third {
    display: none;
}
.pro-create-type1 .content .contanin .first .des,
.pro-create-type1 .content .contanin .second .des,
.pro-create-type1 .content .contanin .third .des {
    color: grey;
    text-align: justify;
}
.pro-create-type1 .content .contanin .first.on,
.pro-create-type1 .content .contanin .second.on,
.pro-create-type1 .content .contanin .third.on {
    display: block;
}
.pro-create-type1 .content .contanin .cont-input {
    margin: 24px 0;
}
.pro-create-type1 .content .contanin .cont-input span {
    color: #001400;
}
.pro-create-type1 .content .contanin .cont-input input {
    height: 32px;
}
.pro-create-type1 .content .contanin .cont-input input[readonly] {
    background-color: #F2F5F7;
    cursor: not-allowed;
}
.pro-create-type1 .content .contanin .cont-input p {
    color: #AAADB1;
    margin-top: 8px;
    margin-left: 96px;
}
.pro-create-type1 .content .contanin .second .title {
    margin: 20px 0 16px 0;
}
.pro-create-type1 .content .contanin .second .title > span {
    color: red;
}
.pro-create-type1 .content .contanin .second .warning {
    color: red;
}
.pro-create-type1 .content .contanin .second .radio-spe {
    margin-bottom: 18px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}
.pro-create-type1 .content .contanin .second .radio-spe p {
    font-size: 12px;
    color: #7F848B;
    margin-left: 38px;
}
.pro-create-type1 .content .contanin .second .radio-spe.on i {
    border: 1px solid #47C1F8;
}
.pro-create-type1 .content .contanin .second .radio-spe.on i::after {
    background-color: #47C1F8;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 10px;
    margin: 2px;
    width: 10px;
    position: absolute;
}
.pro-create-type1 .content .contanin .second .check-cont {
    margin-top: 30px;
}
.pro-create-type1 .content .contanin .second .check-cont .check {
    margin-bottom: 18px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    margin-right: 104px;
}
.pro-create-type1 .content .contanin .second .check-cont .check p {
    font-size: 12px;
    color: #7F848B;
    margin-left: 38px;
}
.pro-create-type1 .content .contanin .second .check-cont .check.on .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
}
.pro-create-type1 .content .contanin .third .one .select {
    display: inline-block;
    vertical-align: top;
    width: 264px;
}
.pro-create-type1 .content .contanin .third .one .select .primary {
    margin-top: 10px;
}
.pro-create-type1 .content .contanin .third .one .select .primary a {
    color: #fff;
}
.pro-create-type1 .content .contanin .third .one .select p {
    margin: 24px 0;
}
.pro-create-type1 .content .contanin .third .one .left .drop {
    margin: 0 0 24px 24px;
}
.pro-create-type1 .content .contanin .third .one .left .drop span {
    margin-right: 16px;
    color: #7F848B;
}
.pro-create-type1 .content .contanin .third .one .left .drop .drop-btn input {
    width: 120px;
    border: #dce0e4 1px solid;
    color: #545454;
    box-sizing: border-box;
}
.pro-create-type1 .content .contanin .third .one .left .drop .drop-btn button {
    height: 32px;
}
.pro-create-type1 .content .contanin .third .one .right ul li {
    margin-bottom: 6px;
    position: relative;
}
.pro-create-type1 .content .contanin .third .one .right ul li.on i {
    border: 1px solid #47C1F8;
}
.pro-create-type1 .content .contanin .third .one .right ul li.on i::after {
    background-color: #47C1F8;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 10px;
    margin: 2px;
    width: 10px;
    position: absolute;
}
.pro-create-type1 .content .contanin .third .two {
    margin-top: 41px;
}
.pro-create-type1 .content .contanin .third .two .date {
    margin: 20px 0;
}
.pro-create-type1 .content .contanin .third .two .date > span {
    display: inline-block;
    width: 180px;
}
.pro-create-type1 .content .contanin .third .two .date > div {
    display: inline-block;
}
.pro-create-type1 .foot {
    float: none;
    position: absolute;
    bottom: 26px;
    right: 0;
}
.pro-create-type1 .foot button {
    width: 96px;
}
.pro-create-type1 .foot button.hide {
    display: none;
}
.pro-create-type1 .foot .pre {
    background-color: #F2F5F7;
    color: #7F848B;
}
.pro-create-type1 .foot .create {
    display: none;
}
.pro-create-type1 .foot .create.on {
    display: inline-block;
}
