.panel-Header {
    padding: 0;
    background-color: #2A323D;
    height: 64px;
    width: 100%;
    position: relative;
    z-index: 21;
}
.panel-Header .tip-bar {
    display: inline-block;
}
.panel-Header .tips {
    display: none;
    font-size: 18px;
    color: #eca622;
    line-height: 64px;
}
.panel-Header .tips.on {
    display: inline-block;
    margin-left: 28px;
}
.panel-Header .try-icon,
.panel-Header .normal-icon {
    color: #fff;
    height: 30px;
    line-height: 30px;
    width: 80px;
    padding-left: 22px;
    border-radius: 4px;
    font-size: 14px;
    display: none;
}
.panel-Header .try-icon.show,
.panel-Header .normal-icon.show {
    display: inline-block;
}
.panel-Header .try-icon {
    background: url('../img/try-icon.png') no-repeat left;
}
.panel-Header .normal-icon {
    background: url('../img/normal-icon.png') no-repeat left;
}
.panel-Header .down {
    color: #fff;
    font-size: 14px;
    text-decoration: underline;
    margin-right: 26px;
    border-right: 2px solid #060606;
    padding: 4px 28px;
}
.panel-Header .drop {
    display: inline-block;
    position: relative;
    padding-right: 36px;
}
.panel-Header .drop:hover ul {
    display: block;
}
.panel-Header .drop:hover span::after {
    content: '';
    margin-top: -2px;
    transform: rotate(180deg);
    transition: all 0.3s ease;
}
.panel-Header .drop span::after {
    content: '';
    position: absolute;
    right: 24px;
    top: 50%;
    transition: all 0.3s ease;
    background: url(../img/xiala.png) no-repeat center;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-top: -3px;
}
.panel-Header .drop ul {
    display: none;
    position: absolute;
    z-index: 2;
    min-width: 70px;
    box-shadow: 1px 1px 5px #888888;
    background-color: #fff;
    white-space: nowrap;
    padding: 5px 0;
    right: 22px;
    top: 46px;
    border-radius: 4px;
}
.panel-Header .drop ul li {
    line-height: 25px;
}
.panel-Header .drop ul li a {
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    color: #ADB0B5;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}
.panel-Header .drop ul li a:hover {
    background-color: #F2F5F7;
    color: #47C1F8;
}
.panel-Header .drop ul li a.on {
    background-color: #F2F5F7;
    color: #47C1F8;
}
.panel-Header .logo-bar {
    height: 100%;
    padding-left: 60px;
    line-height: 64px;
    margin-left: 24px;
    box-sizing: border-box;
    float: left;
}
.panel-Header .logo {
    display: inline-block;
    vertical-align: middle;
}
.panel-Header .logo-spe {
    height: 100%;
    display: inline-block;
    background: url('../img/location.png') no-repeat left;
    vertical-align: top;
    color: #fff;
    padding-left: 22px;
    margin-left: 20px;
}
.panel-Header .logo-spe.move {
    background: url('../img/move-small.png') no-repeat left;
    padding-left: 24px;
}
.panel-Header.user-logined .nav .message {
    display: inline-block;
}
.panel-Header.user-logined .nav .update {
    display: list-item;
}
.panel-Header .nav {
    color: white;
    float: right;
    line-height: 63px;
}
.panel-Header .nav .message {
    position: relative;
    cursor: pointer;
    display: inline-block;
    display: none;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    width: 60px;
    padding-left: 20px;
    font-size: 14px;
    background: url(../img/message.png) no-repeat left;
}
.panel-Header .nav .message .num {
    display: inline-block;
    background: #FA3232;
    border-radius: 8px;
    height: 16px;
    line-height: 16px;
    font-style: normal;
    font-size: 13px;
    color: #FFFFFF;
    text-align: justify;
    padding: 0 4px;
    position: absolute;
    top: 0;
    left: 46px;
}
.panel-Header .nav .update {
    display: none;
}
.panel-Header .nav .help {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 60px;
    padding-left: 20px;
    font-size: 14px;
    vertical-align: middle;
    background: url('../img/help.png') no-repeat left;
}
.panel-Header .nav li {
    font-size: 14px;
}
.panel-Header .nav li a {
    color: #ffffff;
    padding: 0 8px;
    text-decoration: none;
    box-sizing: border-box;
}
.panel-Header div {
    display: inline-block;
}
