.pro-recover .header {
    height: 28px;
    padding: 12px 26px;
}
.pro-recover .header .drop-btn-spe {
    width: 280px;
}
.pro-recover .change-tab {
    padding-left: 26px;
}
.pro-recover .change-tab > li {
    display: inline-block;
    height: 40px;
    line-height: 37px;
    font-size: 15px;
    margin: 0 14px 10px 0;
    cursor: pointer;
}
.pro-recover .change-tab > li.on {
    border-bottom: 3px solid #47C1F8;
    color: #47C1F8;
}
.pro-recover article {
    position: absolute;
    top: 56px;
    bottom: 64px;
}
.pro-recover article > div {
    height: 100%;
}
.pro-recover .product-table tr td:first-child {
    width: 90px;
    text-align: center;
}
.pro-recover .product-table tr td:nth-child(3),
.pro-recover .product-table tr td:last-child {
    text-align: center;
    width: 150px;
}
.pro-recover .product-table tr td {
    text-align: left;
}
.pro-recover .table-common {
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
    height: calc(100% - 88px);
}
.pro-recover .table-common.has-pager {
    height: calc(100% - 110px);
}
.pro-recover .table-common .table-tbody {
    height: calc(100% - 34px);
}
.pro-recover .table-common .table-tbody tr {
    height: 52px;
}
.pro-recover .table-common .table-tbody td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pro-recover .table-thead tr {
    height: 32px;
}
.pro-recover .table-thead tr td {
    text-align: center;
}
.pro-recover .pager {
    text-align: right;
    margin: 6px 20px 10px 0;
}
.pro-recover .recover-footer {
    height: 34px;
    position: absolute;
    bottom: 20px;
    width: 100%;
}
