.panel-Messages {
    min-width: 1180px;
    padding: 43px 146px;
    background-color: #F2F5F7;
    height: calc(100% - 64px);
    box-sizing: border-box;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    top: -100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.panel-Messages.on {
    top: 64px;
    opacity: 1;
    transition: all 0.3s ease-in;
}
.panel-Messages .close {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 2px;
    display: inline-block;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background: url('../img/close-b.png') no-repeat center;
}
.panel-Messages .close:hover {
    background: url('../img/close-hover.png') no-repeat center;
}
.panel-Messages .close:active {
    background: url('../img/close-active.png') no-repeat center;
}
.panel-Messages .line {
    position: absolute;
    z-index: 1;
    top: 53px;
    display: inline-block;
    height: 2px;
    background: #e8e8e8;
    left: 22px;
    right: 0px;
}
.panel-Messages .content {
    background-color: #fff;
    height: 100%;
    font-size: 0;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}
.panel-Messages .left {
    background-color: #fff;
    height: 100%;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #e8e8e8;
    box-sizing: border-box;
}
.panel-Messages .left .top {
    position: relative;
    height: 55px;
    line-height: 55px;
    background: url('../img/message-b.png') no-repeat;
    background-position: top 50% left 12px;
}
.panel-Messages .left .top .type {
    margin-left: 12px;
}
.panel-Messages .left .top .drop-select {
    float: right;
    font-size: 18px;
    color: #000000;
    cursor: pointer;
    position: relative;
}
.panel-Messages .left .top .drop-select ul {
    display: none;
    position: absolute;
    right: 0;
    top: 46px;
    z-index: 2;
    background-color: #fff;
    white-space: nowrap;
    width: 110px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.panel-Messages .left .top .drop-select ul li {
    line-height: 33px;
    padding: 0 12px;
    cursor: pointer;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    border-bottom: 1px solid #e8e8e8;
}
.panel-Messages .left .top .drop-select ul li:last-child {
    border-bottom: none;
}
.panel-Messages .left .top .drop-select ul li:hover {
    background-color: #f7f7f7;
    color: #47C1F8;
    font-weight: bold;
}
.panel-Messages .left .top .drop-select ul li.on {
    background-color: #F2F5F7;
    color: #47C1F8;
}
.panel-Messages .left .top .drop-select:hover ul {
    display: block;
}
.panel-Messages .left .top .drop-select:hover .num:after {
    content: '';
    margin-top: -9px;
    transform: rotate(180deg);
    transition: all 0.3s ease;
    border-top-color: #47C1F8;
}
.panel-Messages .left .num {
    padding-right: 24px;
}
.panel-Messages .left .num::after {
    content: '';
    border: 6px solid transparent;
    border-top-color: rgba(89, 89, 89, 0.44);
    position: absolute;
    right: 7px;
    top: 50%;
    margin-top: -3px;
    transition: all 0.3s ease;
}
.panel-Messages .left .no-message-contain {
    display: none;
}
.panel-Messages .left.no-message .no-message-contain {
    display: block;
    height: calc(100% - 55px);
    position: relative;
}
.panel-Messages .left.no-message .no-message-contain > p {
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(../img/no-message.png) no-repeat top;
    height: 160px;
    padding-top: 122px;
    width: 140px;
    margin-top: -146px;
    margin-left: -70px;
    font-size: 14px;
    color: #4A4A4A;
    text-align: center;
    box-sizing: border-box;
}
.panel-Messages .left.no-message .info {
    display: none;
}
.panel-Messages .left .info {
    height: calc(100% - 55px);
    overflow-y: auto;
}
.panel-Messages .left .info > li {
    position: relative;
    padding: 6px 12px 15px 28px;
    height: 92px;
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8e8;
}
.panel-Messages .left .info > li:hover {
    background: #F7F7F7;
}
.panel-Messages .left .info > li.on {
    background: #E6F7FF;
}
.panel-Messages .left .info > li.on:after {
    content: '';
    background: #47C1F8;
    display: inline-block;
    height: 92px;
    width: 2px;
    position: absolute;
    right: 0;
    top: 0;
}
.panel-Messages .left .info > li:before {
    display: none;
    content: '';
    height: 5px;
    width: 5px;
    position: absolute;
    left: 14px;
    top: 15px;
    border-radius: 100%;
}
.panel-Messages .left .info > li.system.unread:before {
    content: '';
    display: inline-block;
    background: #1890FF;
}
.panel-Messages .left .info > li.personal.unread:before {
    content: '';
    display: inline-block;
    background: #F5A623;
}
.panel-Messages .left .info > li.system.read:before {
    display: none;
}
.panel-Messages .left .info > li.personal.read:before {
    display: none;
}
.panel-Messages .left .info > li .time-bar {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 22px;
}
.panel-Messages .left .info > li .time-bar > span {
    margin-right: 8px;
}
.panel-Messages .left .info > li .title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 24px;
    font-weight: bold;
    margin: 2px 0;
}
.panel-Messages .left .info > li .detail {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    text-align: left;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.panel-Messages .right {
    background-color: #fff;
    display: inline-block;
    width: calc(100% - 300px);
    vertical-align: top;
    font-size: 14px;
    color: #4A4A4A;
    line-height: 24px;
    padding: 86px 93px 46px 93px;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    /*������Ϣ�ģ������ض��ֶΡ�*/
}
.panel-Messages .right .personal .first,
.panel-Messages .right .personal .hello,
.panel-Messages .right .personal .team,
.panel-Messages .right .personal .time {
    display: none;
}
.panel-Messages .right.empty > div {
    display: none !important;
}
.panel-Messages .right h3 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 24px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
}
.panel-Messages .right .first {
    text-indent: 0em;
    margin-bottom: 26px;
}
.panel-Messages .right p {
    text-indent: 2em;
    font-size: 14px;
    color: #4A4A4A;
    line-height: 24px;
    text-align: justify;
    font-weight: bold;
}
.panel-Messages .right pre {
    text-indent: 2em;
    font-size: 14px;
    color: #4A4A4A;
    line-height: 24px;
    text-align: justify;
    font-weight: bold;
}
.panel-Messages .right .team,
.panel-Messages .right .time {
    text-align: right;
    font-size: 13px;
    color: #4A4A4A;
    line-height: 24px;
}
.panel-Messages .right .team {
    margin-top: 30px;
}
@media screen and (min-width: 1400px) {
    .panel-Messages .left {
      width: 380px;
    }
    .panel-Messages .right {
      width: calc(100% - 380px);
    }
}
