.alert {
    display: none;
}
.alert-show {
    background: url(../img/alert-bg.gif) no-repeat;
}
.alert-show template {
    display: none;
}
.alert-show .alert {
    display: block;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 1280px;
}
.alert-show .alert .contain {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 170px;
    background: url(../img/chrome-bg.png) no-repeat;
    margin-left: -200px;
    margin-top: -90px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.alert-show .alert .des {
    color: #7b7878;
    font-size: 12px;
    margin-bottom: 26px;
}
.alert-show .alert .name {
    color: #444;
    font-size: 15px;
    font-weight: bold;
    margin: 30px 0 20px 0;
}
.alert-show .alert .button {
    text-align: center;
    font-size: 14px;
}
.alert-show .alert .button a {
    background-color: #47C1F8;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    padding: 0 15px;
}
.alert-show .alert .first {
    margin-right: 26px;
}
.alert-show .wrap {
    display: none;
}
.alert-show .panel-loading {
    display: none;
}
.alert-show .Loading-iOS {
    display: none !important;
}
