.KISP.Toast {
    width: 126px;
}
.KISP.Mask {
    min-width: 1180px;
}
.KISP.Dialog.Confirm {
    border-radius: 4px;
    width: 410px !important;
    /*margin-left: -200px !important;*/
    /*margin-left: 0 !important;
                  margin-top: 0 !important;
                  transform: translate(-50%,-50%);*/
}
.KISP.Dialog.Confirm article {
    bottom: 56px;
    padding: 0 14px;
}
.KISP.Dialog.Confirm article .imgleft {
    width: 80px;
    height: 80px;
    float: left;
    background: url(../img/server_dialog.png) no-repeat;
    background-size: 80px 80px;
}
.KISP.Dialog.Confirm article .divright {
    float: right;
}
.KISP.Dialog.Confirm article .divright span {
    display: block;
    text-align: left;
}
.KISP.Dialog.Confirm article .divright .title0 {
    font-weight: bold;
}
.KISP.Dialog.Confirm article .divright .title1 {
    margin-top: 5px;
}
.KISP.Dialog.Confirm article .divright .title2 {
    color: red;
    margin-top: 6px;
    font-size: 14px;
}
.KISP.Dialog.Confirm article > div {
    height: auto;
    color: #5a646e;
    font-size: 14px;
}
.KISP.Dialog.Confirm footer {
    border-top: none;
    left: 50%;
    width: 64%;
    height: 50px;
    transform: translate(-50%, 0);
}
.KISP.Dialog.Confirm footer button {
    height: 32px;
    border-radius: 4px;
    line-height: 32px;
    font-size: 14px;
    width: 43%;
    letter-spacing: 0.1em;
}
.KISP.Dialog.Confirm footer button:first-child {
    margin-right: 8%;
    color: #fff !important;
    background-color: #6fb1e9;
    border-right: none;
    margin-left: 0;
}
.KISP.Dialog.Confirm footer button:first-child:active {
    background-color: #3397f1;
}
.KISP.Dialog.Confirm footer button:last-child {
    border: 1px solid #b7d3ee;
    margin-right: 0;
    color: #6fb1e9 !important;
}
.KISP.Dialog.Alert {
    border-radius: 4px;
    width: 400px !important;
    /*margin-left: -200px !important;*/
    /*margin-left: 0 !important;
                  margin-top: 0 !important;
                  transform: translate(-50%,-50%);*/
}
.KISP.Dialog.Alert article {
    bottom: 56px;
    padding: 0 20px;
}
.KISP.Dialog.Alert article > div {
    height: auto;
    color: #5a646e;
    font-size: 14px;
}
.KISP.Dialog.Alert footer {
    border-top: none;
    left: 50%;
    width: 33%;
    height: 50px;
    transform: translate(-50%, 0);
    letter-spacing: 0.1em;
}
.KISP.Dialog.Alert footer button {
    height: 32px;
    border-radius: 4px;
    line-height: 32px;
    font-size: 14px;
    color: #fff !important;
    background-color: #6fb1e9;
    margin-left: 0;
}
.KISP.Dialog.Alert footer button:hover {
    background-color: #409be8;
}
.KISP.Dialog.Alert footer button:active {
    background-color: #2b8fe4;
}
.KISP.Loading-iOS {
    line-height: 130px;
}
.KISP.Loading-iOS .Text {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 50%;
    margin-left: -60px;
    line-height: 20px;
}
.KISP.Toast-font-awesome {
    display: table;
}
.KISP.Toast-font-awesome .Text {
    display: table-cell;
    vertical-align: middle;
}
.KISP.Toast-font-awesome.HasIcon .Text {
    padding-top: 36px;
}
