.pro-detail {
    position: absolute;
}
.pro-detail .content {
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    margin-top: 23px;
}
.pro-detail .content table {
    width: calc(100% - 24px);
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.pro-detail .content table .name {
    background-color: #eff4f7;
    width: 84px;
    text-align: left;
    padding: 0 10px;
    white-space: normal;
}
.pro-detail .content table tr {
    height: 50px;
    border: 1px solid #e1e1e1;
    border-bottom: none;
}
.pro-detail .content table tr.high {
    height: 82px;
}
.pro-detail .content table tr:last-child {
    border-bottom: 1px solid #e1e1e1;
}
.pro-detail .content table tr td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pro-detail .content table tr .spe {
    overflow: auto;
    text-overflow: inherit;
    white-space: normal;
}
.pro-detail .content table tr .spe p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: left;
    padding: 0 10px;
}
.pro-detail .foot {
    position: absolute;
    bottom: 20px;
    right: 30px;
}
