.view-Products .common-nav .nav-right {
    cursor: auto !important;
}
.view-Products .common-nav .nav-right .large {
    line-height: 34px;
}
.view-Products .news {
    position: relative;
}
.view-Products .news.hide {
    display: none;
}
.view-Products .news i {
    background-image: url(../img/laba.png);
    width: 16px;
    height: 16px;
    position: absolute;
    margin: 22px 0 0 70px;
}
.view-Products .news .marquee {
    margin-left: 64px;
    margin-top: 16px;
    color: #fff;
    font-size: 15px;
    background-color: #ff8503;
    width: 600px;
    padding: 3px 0 3px 30px;
    display: inline-block;
}
.view-Products .news .marquee marquee {
    vertical-align: middle;
}
.view-Products .news .marquee marquee span {
    margin-right: 60px;
}
.view-Products .list.table-common {
    height: calc(100% - 128px);
}
.view-Products .list .table-tbody {
    overflow-y: scroll;
}
.view-Products .list .table-thead .product-table tr {
    height: 65px;
}
.view-Products .list .product-table tr td {
    width: 8%;
    position: relative;
}
.view-Products .list .product-table tr td.hide {
    display: none;
}
.view-Products .list .product-table tr td.editbar p {
    display: none;
}
.view-Products .list .product-table tr td.editbar input {
    display: inline-block;
}
.view-Products .list .product-table tr td.editbar .icon {
    background-image: url('../img/ok.png');
}
.view-Products .list .product-table tr td p {
    margin-right: 36px;
}
.view-Products .list .product-table tr td input {
    width: 84%;
    box-sizing: border-box;
    display: none;
    margin-right: 32px;
    padding: 6px 10px;
    height: 36px;
    border: 1px solid #e1e1e1;
}
.view-Products .list .product-table tr td input:hover {
    border: 1px solid #59C7F8;
}
.view-Products .list .product-table tr td .icon {
    position: absolute;
    top: 23px;
    right: 0px;
    display: inline-block;
    height: 28px;
    width: 28px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
    cursor: pointer;
    background-image: url('../img/edit.png');
}
.view-Products .list .product-table tr td .drop-span {
    margin: 0;
}
.view-Products .list .product-table tr td.short {
    width: 6%;
}
.view-Products .list .product-table tr td.long {
    width: 14%;
}
.view-Products .list .product-table tr td.button {
    width: 17%;
    /*针对 js 动态控制的*/
    /*已激活的*/
    /*未激活的*/
}
.view-Products .list .product-table tr td.button .change {
    display: none;
}
.view-Products .list .product-table tr td.button .change.has {
    display: block;
}
.view-Products .list .product-table tr td.button .drop-btn-click {
    vertical-align: middle;
}
.view-Products .list .product-table tr td.button .drop-btn-click button {
    margin-left: 0;
    margin-top: 2px;
    width: 84px;
}
.view-Products .list .product-table tr td.button .app-list {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #59C7F8;
    height: 26px;
    border-radius: 4px;
    background-color: #fff;
    color: #59C7F8;
    vertical-align: middle;
    margin-left: 8px;
}
.view-Products .list .product-table tr td.button .app-list:disabled {
    background-color: #eee;
    cursor: not-allowed;
}
.view-Products .list .product-table tr td.button .pub .drop-span:hover:after {
    content: '';
    margin-top: auto;
    transform: rotate(0);
    transition: all 0.3s ease;
}
.view-Products .list .product-table tr td.button .pub .public {
    display: inherit;
}
.view-Products .list .product-table tr td.button .pub .list {
    display: none;
}
.view-Products .list .product-table tr td.button .pub .free-test {
    display: none;
}
.view-Products .list .product-table tr td.button .pub .drop-span ul {
    display: none;
}
.view-Products .list .product-table tr td.button .free-button .public {
    display: none;
}
.view-Products .list .product-table tr td.button .free-button .list {
    display: none;
}
.view-Products .list .product-table tr td.button .free-button .free-test {
    display: inherit;
}
.view-Products .list .product-table tr td.button .free-button .drop-span li {
    display: none;
}
.view-Products .list .product-table tr td.button .free-button .drop-span li.active,
.view-Products .list .product-table tr td.button .free-button .drop-span li.delete {
    display: inherit;
}
.view-Products .list .product-table tr td.button .public {
    display: none;
}
.view-Products .list .product-table tr td.button .free-test {
    display: none;
}
.view-Products .list .product-table tr td.button .hide {
    display: none;
}
.view-Products .list .product-table tr td.button.gray .app-list {
    cursor: not-allowed;
    background-color: #d1d1d1;
}
.view-Products .list .product-table tr td.button.gray .drop-btn-click {
    cursor: not-allowed;
    background-color: #d1d1d1;
}
.view-Products .list .product-table tr td.button.gray .drop-btn-click span:hover:after {
    content: '';
    margin-top: auto;
    transform: rotate(0);
    transition: all 0.3s ease;
}
.view-Products .list .product-table tr td.button.gray .drop-btn-click button {
    background-color: #d1d1d1;
    cursor: not-allowed;
}
.view-Products .list .product-table tr td.button.gray .drop-btn-click .drop-span {
    cursor: not-allowed;
}
.view-Products .list .product-table tr td.button.gray .drop-btn-click .drop-span ul {
    display: none;
}
.view-Products .list .product-table tr td.button.actived-true .active {
    display: none;
}
.view-Products .list .product-table tr td.button.actived-true .update {
    display: block;
}
.view-Products .list .product-table tr td.button.actived-true .detail {
    display: block;
}
.view-Products .list .product-table tr td.button.actived-false .active {
    display: block;
}
.view-Products .list .product-table tr td.button.actived-false .update {
    display: none;
}
.view-Products .list .product-table tr td.button.actived-false .detail {
    display: none;
}
