.application-manage {
    /**没有二级列表时，隐藏。*/
}
.application-manage .header {
    margin-top: 16px;
    line-height: 32px;
}
.application-manage .search {
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
    position: relative;
    margin-right: 36px;
}
.application-manage .search .icon {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 32px;
    width: 32px;
    background: url('../../style/img/search.png') no-repeat center;
    vertical-align: top;
    margin-left: -38px;
    cursor: pointer;
}
.application-manage .search-input {
    display: inline-block;
    width: 260px;
    border-radius: 6px;
}
.application-manage .tips {
    display: none;
    text-align: center;
    position: absolute;
    top: 108px;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    font-size: 14px;
    color: #aaa;
}
.application-manage .tips .no-data-img {
    margin: 140px auto auto auto;
}
.application-manage .tips .tip-content {
    margin-top: 10px;
}
.application-manage .tips.show {
    display: block;
}
.application-manage article {
    height: calc(100% - 85px);
}
.application-manage .content {
    height: 100%;
    margin-left: 0;
}
.application-manage .content .pager {
    text-align: right;
    margin: 0px 20px 10px 0;
}
.application-manage .table-common {
    height: calc(100% - 106px);
}
.application-manage .manage-table {
    margin: 0;
}
.application-manage .manage-table td {
    overflow: hidden;
    width: 30%;
    text-overflow: ellipsis;
}
.application-manage .manage-table td:first-child {
    width: 10%;
    overflow: visible;
}
.application-manage .manage-table .table-thead tr {
    height: 32px;
}
.application-manage .manage-table .table-tbody {
    height: calc(100% - 28px);
    padding-bottom: 0px;
}
.application-manage .manage-table .table-tbody tr {
    height: 52px;
}
.application-manage .manage-table .table-tbody tr td:last-child {
    text-align: left;
}
.application-manage .manage-table .table-tbody tr .Global-tip .tip {
    bottom: -18px;
    height: 24px;
    line-height: 24px;
}
.application-manage .manage-table .table-tbody tr.checked .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
}
.application-manage .manage-table .table-tbody tr.has-chosed .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
    background-color: #ddd;
    cursor: not-allowed;
}
.application-manage .manage-table .table-tbody tr span.keyword {
    color: red;
    margin: 0px;
    background: #f9e8e8;
}
