.alert-common.pro-add-user .content {
    height: calc(100% - 135px);
    margin-left: 0;
}
.alert-common.pro-add-user .content .pager {
    text-align: right;
    margin: 0px 20px 10px 0;
}
.alert-common.pro-add-user .content .cont-head {
    margin-left: 24px;
    margin-top: 8px;
}
.alert-common.pro-add-user .content .cont-head span {
    font-size: 14px;
    color: #7F848B;
}
.alert-common.pro-add-user .content .cont-head .search {
    display: inline-block;
    position: relative;
}
.alert-common.pro-add-user .content .cont-head .search.on .search-img {
    display: none;
}
.alert-common.pro-add-user .content .cont-head .search.on .close-img {
    display: inline-block;
}
.alert-common.pro-add-user .content .cont-head .search .search-input {
    height: 26px;
    padding-left: 8px;
}
.alert-common.pro-add-user .content .cont-head .search .search-img {
    border: 0;
    right: 0;
    cursor: pointer;
}
.alert-common.pro-add-user .content .cont-head .search .close-img {
    background: url(../img/close.png) no-repeat center;
    width: 30px;
    display: none;
    height: 30px;
    position: absolute;
    top: 1px;
    border: 0;
    right: 0;
    cursor: pointer;
}
.alert-common.pro-add-user .content .cont-head .add {
    height: 30px;
    line-height: 30px;
    margin-right: 16px;
    float: right;
    position: relative;
}
.alert-common.pro-add-user .content .cont-head .add.show .darrow {
    display: inline-block;
}
.alert-common.pro-add-user .content .cont-head .add.show .add-icon {
    display: inline-block;
}
.alert-common.pro-add-user .content .cont-head .add.show .img {
    display: none;
}
.alert-common.pro-add-user .content .cont-head .add.show .add-input {
    transition: 0.6s linear all;
    width: 240px;
}
.alert-common.pro-add-user .content .cont-head .add div {
    display: inline-block;
}
.alert-common.pro-add-user .content .cont-head .add .add-icon {
    cursor: pointer;
    display: none;
    vertical-align: top;
    margin-right: 24px;
}
.alert-common.pro-add-user .content .cont-head .add .add-icon span {
    color: #47C1F8;
}
.alert-common.pro-add-user .content .cont-head .add .darrow {
    display: none;
    margin-right: 24px;
    height: 12px;
    width: 12px;
    padding: 10px;
    background-image: url(../../style/img/darrow.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 12px;
    position: absolute;
    top: -1px;
    right: -30px;
    background-position: center;
}
.alert-common.pro-add-user .content .cont-head .add .img {
    cursor: pointer;
    margin-right: 16px;
    padding: 0 6px;
}
.alert-common.pro-add-user .content .cont-head .add .img i {
    background-image: url(../../style/img/add.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.alert-common.pro-add-user .content .cont-head .add .img span {
    color: #47C1F8;
}
.alert-common.pro-add-user .content .cont-head .add .add-input {
    width: 0;
    overflow: hidden;
    float: left;
    white-space: nowrap;
}
.alert-common.pro-add-user .content .cont-head .add .add-input input {
    width: 92px;
    margin-right: 12px;
    border-color: #e0e0e0;
    height: 26px;
}
.alert-common.pro-add-user .content .add-user-table {
    margin: 0;
    top: 18%;
}
.alert-common.pro-add-user .content .add-user-table td {
    overflow: hidden;
    width: 30%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.alert-common.pro-add-user .content .add-user-table td:first-child {
    width: 10%;
    overflow: visible;
}
.alert-common.pro-add-user .content .add-user-table .table-thead tr {
    height: 32px;
}
.alert-common.pro-add-user .content .add-user-table .table-tbody {
    height: 416px;
}
.alert-common.pro-add-user .content .add-user-table .table-tbody tr {
    height: 52px;
}
.alert-common.pro-add-user .content .add-user-table .table-tbody tr .Global-tip .tip {
    bottom: -18px;
    height: 24px;
    line-height: 24px;
}
.alert-common.pro-add-user .content .add-user-table .table-tbody tr.checked .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
}
.alert-common.pro-add-user .content .add-user-table .table-tbody tr.has-chosed .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
    background-color: #ddd;
    cursor: not-allowed;
}
.alert-common.pro-add-user .content .add-user-table .table-tbody tr span.keyword {
    color: red;
    margin: 0px;
    background: #f9e8e8;
}
