.panel-Accounts_Apps .content {
    position: absolute;
    padding: 0px 10px 0 80px;
    top: 51px;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow-y: auto;
    background-color: #f7f7f7;
    margin-left: 0;
    border-radius: 0 0 4px 4px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.panel-Accounts_Apps .content .item {
    display: inline-block;
    height: 256px;
    width: 260px;
    background-color: #fff;
    margin-top: 40px;
    margin-right: 70px;
    text-align: center;
    padding: 33px 0 22px 0;
    box-sizing: border-box;
    background-position: top;
    background-repeat: no-repeat;
    background-origin: content-box;
}
.panel-Accounts_Apps .content .item.qj {
    background-image: url('../img/kis.png');
}
.panel-Accounts_Apps .content .item.zy {
    background-image: url('../img/kiscloud.png');
}
.panel-Accounts_Apps .content .item.share {
    background-image: url('../img/share.png');
}
.panel-Accounts_Apps .content .item.sm {
    background-image: url('../img/sm.png');
}
.panel-Accounts_Apps .content .item.jgj {
    background-image: url('../img/jgj.png');
}
.panel-Accounts_Apps .content .item.jxc {
    background-image: url('../img/jxc.png');
}
.panel-Accounts_Apps .content .title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 24px;
    margin-top: 85px;
    font-weight: bold;
}
.panel-Accounts_Apps .content .time,
.panel-Accounts_Apps .content .company {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 22px;
    margin: 0px 0 12px 0;
}
.panel-Accounts_Apps .content .company {
    visibility: hidden;
    margin: 0;
    line-height: 18px;
}
.panel-Accounts_Apps .content .company.show {
    visibility: visible;
}
.panel-Accounts_Apps .content .use {
    height: 40px;
    width: 130px;
    background: #47C1F8;
    border-radius: 4px;
    color: #fff;
}
.panel-Accounts_Apps .content .use:hover {
    background-color: #59C7F8;
}
.panel-Accounts_Apps .content .use:active {
    background-color: #3FADDE;
}
