.view-ApplicationUsers {
    /**渲染后才显示【选择云之家用户】按钮。*/
}
.view-ApplicationUsers .search {
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
    position: relative;
}
.view-ApplicationUsers .search .icon {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 32px;
    width: 32px;
    background: url('../../style/img/search.png') no-repeat center;
    vertical-align: top;
    margin-left: -38px;
    cursor: pointer;
}
.view-ApplicationUsers .search-input {
    display: inline-block;
    width: 260px;
    border-radius: 6px;
}
.view-ApplicationUsers .nav-right button {
    margin-left: 10px;
}
.view-ApplicationUsers .main.rendered .list .account-users-head .Global-tip {
    display: block;
}
.view-ApplicationUsers .list .account-users-head {
    height: 56px;
    margin: 14px 30px 0 24px;
}
.view-ApplicationUsers .list .account-users-head span {
    font-size: 16px;
    color: #2A323D;
}
.view-ApplicationUsers .list .account-users-head .Global-tip {
    display: none;
    float: right;
}
.view-ApplicationUsers .list .account-users-search {
    margin: 8px 0 16px 24px;
}
.view-ApplicationUsers .list .account-users-search > input {
    width: 286px !important;
}
.view-ApplicationUsers .list .table-thead .product-table .button {
    width: calc(25% - 6px);
}
.view-ApplicationUsers .list .table-tbody {
    height: calc(100% - 185px);
}
.view-ApplicationUsers .list .table-tbody .spe {
    white-space: nowrap;
}
.view-ApplicationUsers .list .table-tbody .spe button {
    min-width: 60px;
}
.view-ApplicationUsers .list .table-tbody .spe .tip {
    bottom: -24px;
}
.view-ApplicationUsers .list .table-tbody .Global-tip > :first-child {
    margin-right: 12px;
}
.view-ApplicationUsers .list .table-tbody .Global-tip.on > :first-child:hover {
    margin-right: 5px !important;
}
.view-ApplicationUsers .list .table-tbody .no-delete {
    cursor: not-allowed;
    color: #646464;
}
.view-ApplicationUsers .list .table-tbody .delete {
    border: 1px solid #59C7F8;
    color: #59C7F8;
    background-color: #ffffff;
    box-sizing: border-box;
    cursor: pointer;
}
.view-ApplicationUsers .list .table-tbody .delete:hover {
    background-color: #e2f2fa;
}
.view-ApplicationUsers .list .table-tbody .delete:active {
    background-color: #abe2fa;
}
.view-ApplicationUsers .list .product-table tr td {
    width: 20%;
}
.view-ApplicationUsers .list .product-table tr td.editbar p {
    display: none;
}
.view-ApplicationUsers .list .product-table tr td.editbar input {
    display: inline-block;
    width: 73%;
    margin-right: 32px;
    padding: 0 10px;
    box-sizing: border-box;
}
.view-ApplicationUsers .list .product-table tr td.editbar .icon {
    background-image: url('../img/ok.png');
}
.view-ApplicationUsers .list .product-table tr td p {
    margin-right: 32px;
}
.view-ApplicationUsers .list .product-table tr td input {
    display: none;
}
.view-ApplicationUsers .list .product-table tr td .icon {
    position: absolute;
    top: 23px;
    right: 0px;
    display: inline-block;
    height: 28px;
    width: 28px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
    cursor: pointer;
    background-image: url('../img/edit.png');
}
.view-ApplicationUsers .list .product-table tr td .icon.hide {
    display: none;
}
.view-ApplicationUsers .list .product-table tr td.button {
    width: 25%;
}
.view-ApplicationUsers .list .product-table tr td.Global-tip.on.orange.child > :first-child.primary {
    border: 1px solid #ffda21;
    box-shadow: 0px 0px 4px 1px #ffda21;
    padding: 0;
}
.view-ApplicationUsers .list .product-table tr td.Global-tip.on.orange.child > :first-child.primary:hover {
    border-width: 6px !important;
    border-color: #ffda21 !important;
    box-shadow: none;
    transition: all 0.2s linear;
    margin: 0px;
}
.view-ApplicationUsers .list .product-table tr td.Global-tip.on.orange.child > :first-child.warning {
    border: none;
    box-shadow: none;
}
.view-ApplicationUsers .list .product-table tr td.Global-tip.on.orange.child > :first-child.warning:hover {
    border-width: 0px !important;
    border-color: inherit !important;
    margin: 0px;
}
.view-ApplicationUsers .list .product-table tr td.Global-tip.on.orange.child > :first-child.warning + div {
    display: none !important;
}
.view-ApplicationUsers .list .product-table tr td.Global-tip.on.orange.own {
    border: 1px solid #ffda21;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px #ffda21;
}
