.view-AccountLogs .main .tab {
    margin-left: 54px;
    margin-top: 16px;
}
.view-AccountLogs .main .tab ul {
    font-size: 0;
}
.view-AccountLogs .main .tab li {
    background-color: #fff;
    display: inline-block;
    width: 140px;
    text-align: center;
    font-size: 15px;
    line-height: 32px;
    position: relative;
    cursor: pointer;
    padding: 5px 0;
}
.view-AccountLogs .main .tab li.on {
    color: #47C1F8;
}
.view-AccountLogs .main .tab li.on::after {
    content: " ";
    position: absolute;
    left: 13px;
    bottom: 0px;
    right: 0px;
    border-bottom: 3px solid #47C1F8;
    width: calc(100% - 24px);
    transition: left 0.1s;
}
.view-AccountLogs .main .table-common {
    margin-top: 0px;
    height: calc(100% - 102px);
}
.view-AccountLogs .main .list .product-table tr td {
    width: 17%;
}
.view-AccountLogs .main .list .product-table tr td.long {
    width: 23%;
}
.view-AccountLogs .main .copy-list {
    display: none;
}
.view-AccountLogs .main .copy-list .product-table tr td {
    width: 25%;
}
