.view-AddCompanys {
    height: 100%;
}
.view-AddCompanys .header {
    height: 72px;
    background-color: #ffffff;
    padding-left: 64px;
    font-size: 16px;
}
.view-AddCompanys .header .nav-right {
    margin: 20px 24px 16px 0;
    float: right;
    cursor: pointer;
}
.view-AddCompanys .header .nav-right > button {
    padding: 0 20px;
}
.view-AddCompanys .header .user-nav-ul {
    padding-top: 25px;
    display: inline-block;
}
.view-AddCompanys .header .user-nav-ul li {
    display: inline-block;
}
.view-AddCompanys .header .user-nav-ul li a.spe {
    color: #545454;
    cursor: inherit;
}
.view-AddCompanys .header .user-nav-ul li > span {
    background: url(../img/right.png) no-repeat center;
    display: inline-block;
    width: 13px;
    height: 13px;
}
.view-AddCompanys .header .search {
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
    vertical-align: top;
    position: relative;
}
.view-AddCompanys .header .search .icon {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 32px;
    width: 32px;
    background: url('../../style/img/search.png') no-repeat center;
    vertical-align: top;
    margin-left: -38px;
    cursor: pointer;
}
.view-AddCompanys .header .search-input {
    display: inline-block;
    width: 240px;
    border-radius: 6px;
}
.view-AddCompanys .header .primary {
    margin-right: 18px;
}
.view-AddCompanys .content {
    height: calc(100% - 135px);
    margin-left: 0;
}
.view-AddCompanys .content .no-data-add {
    top: 400px;
    position: absolute;
    left: 50%;
    margin-left: -80px;
    font-size: 20px;
    height: 50px;
    width: 160px;
}
.view-AddCompanys .content .no-data-add button {
    height: 50px;
    width: 160px;
    box-sizing: border-box;
    font-size: 18px;
}
.view-AddCompanys .content .pager {
    text-align: right;
    margin: 0px 20px 10px 0;
}
.view-AddCompanys .content .add-user-table {
    height: 100%;
    position: relative;
}
.view-AddCompanys .content .add-user-table td {
    overflow: hidden;
    width: 30%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.view-AddCompanys .content .add-user-table td:first-child {
    width: 15%;
    max-width: 90px;
    overflow: visible;
}
.view-AddCompanys .content .add-user-table .table-thead tr {
    height: 65px;
    line-height: 65px;
}
.view-AddCompanys .content .add-user-table .table-tbody tr {
    height: 52px;
}
.view-AddCompanys .content .add-user-table .table-tbody tr .Global-tip .tip {
    bottom: -18px;
    height: 24px;
    line-height: 24px;
}
.view-AddCompanys .content .add-user-table .table-tbody tr.checked .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
}
.view-AddCompanys .content .add-user-table .table-tbody tr.has-chosed .check-box {
    background: url(../img/check.png) no-repeat;
    background-position: center;
    background-color: #ddd;
    cursor: not-allowed;
}
.view-AddCompanys .content .add-user-table .table-tbody tr span.keyword {
    color: red;
    margin: 0px;
    background: #f9e8e8;
}
