.bak-confirm .content {
    margin: 20px 24px 0 24px;
    text-align: justify;
    word-break: break-all;
    overflow-wrap: break-word;
}
.bak-confirm .cont-div {
    margin-top: 24px;
}
.bak-confirm .cont-div .cont-div-msg {
    color: #7F848B;
}
.bak-confirm .cont-div .cont-div-btn {
    margin: 16px 0 0 16px;
}
.bak-confirm .cont-div .cont-div-btn button {
    margin-right: 10px;
    margin-bottom: 4px;
}
.bak-confirm .cont-div .cont-div-btn button.on {
    color: #fff;
    background-color: #47C1F8;
}
.bak-confirm .cont-div .cont-div-btn button.long {
    width: 184px;
}
.bak-confirm .cont-div .cont-div-btn button.short {
    width: 120px;
}
