.pro-bind .content {
    margin: 20px 0 0 24px;
}
.pro-bind .content .spe {
    color: red;
}
.pro-bind .cont-div {
    margin-top: 24px;
}
.pro-bind .cont-div .cont-div-msg {
    color: #7F848B;
}
.pro-bind .cont-div .cont-div-btn {
    margin: 16px 0 0 16px;
}
.pro-bind .cont-div .cont-div-btn button {
    margin-right: 10px;
    margin-bottom: 4px;
}
.pro-bind .cont-div .cont-div-btn button.on {
    color: #fff;
    background-color: #47C1F8;
}
.pro-bind .cont-div .cont-div-btn button.long {
    width: 184px;
}
.pro-bind .cont-div .cont-div-btn button.short {
    width: 120px;
}
