.pro-delete .content {
    margin: 10px;
}
.pro-delete .content .cont-input {
    margin-top: 24px;
}
.pro-delete .content .cont-input > span {
    display: inline-block;
    width: 68px;
    margin-right: 0;
}
.pro-delete .content .first {
    width: 240px;
}
.pro-delete .content .second {
    width: 146px;
}
.pro-delete .content .send {
    border-top: 1px solid #EAEFF3;
    border-right: 1px solid #EAEFF3;
    border-bottom: 1px solid #EAEFF3;
    width: 96px;
    height: 30px;
    position: absolute;
    line-height: 30px;
    margin-left: 156px;
    cursor: pointer;
    text-align: center;
}
