.pro-add {
    /**没有二级列表时，隐藏。*/
}
.pro-add .content.no-items {
    margin-left: 48px !important;
}
.pro-add .content.no-items .items {
    display: none;
}
.pro-add .cont-div {
    margin-top: 24px;
}
.pro-add .cont-div.hide {
    display: none;
}
.pro-add .cont-div .cont-div-msg {
    color: #7F848B;
}
.pro-add .cont-div .cont-div-btn {
    margin: 16px 0 0 16px;
}
.pro-add .cont-div .cont-div-btn button {
    margin-right: 10px;
    margin-bottom: 12px;
}
.pro-add .cont-div .cont-div-btn button.on {
    color: #fff;
    background-color: #47C1F8;
}
.pro-add .cont-div .cont-div-btn button.on:hover {
    background-color: #47C1F8;
}
.pro-add .cont-div .cont-div-btn button.long {
    width: 184px;
}
.pro-add .cont-div .cont-div-btn button.short {
    width: 120px;
}
.pro-add .cont-div .cont-div-btn button:hover {
    background-color: rgba(71, 193, 248, 0.2);
}
