/* @definejs/alert/Alert.less */
.definejs-alert pre.JSON {
    text-align: start;
    font-family: 'Fixedsys Excelsior 3.01';
}


/* @definejs/confirm/Confirm.less */
.definejs-confirm .OK {
    color: red;
}


/* @definejs/dialog/Dialog.less */
.definejs-dialog {
    position: fixed;
    background: rgba(251, 251, 251, 0.94);
    width: 100%;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: solid 1px #ccc;
    transform: translate(-50%, -50%);
    z-index: 1024;
}
.definejs-dialog * {
    font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}
.definejs-dialog header {
    font-weight: bold;
    font-size: 17px;
    height: 44px;
    text-align: center;
    line-height: 44px;
}
.definejs-dialog header.NoHeader {
    /**无标题时*/
    display: none;
}
.definejs-dialog article {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
    padding: 0px 20px;
    overflow: hidden;
    position: absolute;
    top: 44px;
    bottom: 44px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    word-wrap: break-word;
}
.definejs-dialog article.NoHeader {
    /**无标题时*/
    top: 10px;
}
.definejs-dialog article.NoFooter {
    /**无按钮时*/
    bottom: 10px;
}
.definejs-dialog article > div {
    width: 100%;
}
.definejs-dialog.main-fullscreen article {
    bottom: 0;
    top: 0;
    padding: 0;
}
.definejs-dialog footer {
    border-top: solid 1px #ccc;
    height: 44px;
    bottom: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
    /*阻止文本选择，避免在 PC 端拖拽按钮时选中按钮的文本*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.definejs-dialog footer button {
    color: #007AFF;
    font-size: 17px;
    border: none;
    outline: none;
    border-right: solid 1px #ccc;
    height: 44px;
    line-height: 44px;
    width: 50%;
    overflow: hidden;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    /**针对 PC 端*/
    background: none;
    margin-left: 0px;
    /**按下去时*/
}
.definejs-dialog footer button.Pressed {
    background: #E3E3E5;
}
.definejs-dialog footer button:first-child {
    border-bottom-left-radius: 10px;
}
.definejs-dialog footer button:last-child {
    border-right: none;
    border-bottom-right-radius: 10px;
}
.definejs-dialog footer.Buttons-1 button {
    width: 100%;
}
.definejs-dialog footer.Buttons-2 button {
    width: 50%;
}
.definejs-dialog footer.Buttons-3 button {
    width: 33.33%;
}
.definejs-dialog footer.Buttons-4 button {
    width: 25%;
}
.definejs-dialog footer.Buttons-5 button {
    width: 20%;
}
.definejs-dialog footer.Buttons-6 button {
    width: 16.66%;
}
.definejs-dialog footer.Buttons-7 button {
    width: 14.28%;
}
.definejs-dialog footer.Buttons-8 button {
    width: 12.5%;
}
.definejs-dialog footer.Buttons-9 button {
    width: 11.11%;
}
.definejs-dialog footer.Buttons-10 button {
    width: 10%;
}


/* @definejs/masker/Masker.less */
.definejs-masker {
    position: absolute;
    top: 0px;
    bottom: 0px;
    opacity: 0.5;
    background: #000;
    width: 100%;
    z-index: 1024;
}


/* @definejs/view/View.less */
.definejs-view.FullScreen {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}
.definejs-view.FullScreen.Shadow {
    box-shadow: 10px 0px 12px 10px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 10px 0px 12px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 0px 12px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 10px 0px 12px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 10px 0px 12px 10px rgba(0, 0, 0, 0.3);
}

